<div class="modal-container">
    <h5>Seleccionar Jornada</h5>
    <div class="options">
        <button mat-raised-button color="primary" (click)="seleccionarJornada('completa')"
            [class.selected]="jornada === 'completa'" *ngIf="this.data?.dias >= 1">
            Jornada Completa
        </button>
        <button mat-raised-button color="primary" (click)="seleccionarJornada('media')"
            [class.selected]="jornada === 'media'">
            Media Jornada
        </button>
    </div>

    <div *ngIf="jornada === 'media'" class="turno-options">
        <p>Seleccionar Turno</p>
        <button mat-raised-button color="accent" (click)="turno = 'mañana'" [class.selected]="turno === 'mañana'">
            Turno Mañana
        </button>
        <button mat-raised-button color="accent" (click)="turno = 'tarde'" [class.selected]="turno === 'tarde'">
            Turno Tarde
        </button>
    </div>

    <div class="actions">
        <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!puedeConfirmar()" (click)="confirmar()">
            Confirmar
        </button>
    </div>
</div>