/* ===============================
    Variables globales
   =============================== */
$color-bg-dark: #333 !default; // fondo gris oscuro
$color-bg-darker: #161515 !default; // fondo más oscuro
$color-bg-hover: #444 !default; // hover
$color-bg-header: #535353 !default; // encabezado tabla
$color-text-light: #fff !default; // texto claro
$color-text-hover: rgb(44, 253, 243) !default; // hover load button
$color-bg-hover-row: #fafafa11 !default; // hover filas

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.load {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: 200ms;
  color: $color-text-light;

  &:hover {
    color: $color-text-hover;
    letter-spacing: 0.5px;
    box-shadow: inset;
  }
}

/************************************ Diseño Tablas***************************************/
.mat-mdc-table {
  background-color: rgba($color-bg-dark, 0.85) !important;
}

.mat-mdc-header-row {
  background-image: linear-gradient(
    to bottom,
    $color-bg-header 0%,
    $color-bg-header 51%,
    $color-bg-header 100%
  ) !important;
  font-size: 15px;
}

.mat-mdc-row:hover {
  background-color: $color-bg-hover-row !important;
}

/* Fondo del mat-menu */
.mat-mdc-menu-panel {
  background-color: $color-bg-dark !important;
  border-radius: 8px !important;
  padding: 2px;
}

.mat-mdc-menu-item:hover {
  background-color: $color-bg-hover !important;
  border-radius: 4px !important;
}

/************************************ Paginator ***************************************/
.mat-mdc-paginator {
  background-color: $color-bg-dark !important;
  color: $color-text-light !important;
  border-radius: 6px;
  margin-top: 5px;
}

.mat-mdc-select-value {
  color: $color-text-light !important;
}

.mat-mdc-paginator-page-size {
  color: $color-text-light !important;
  background-color: $color-bg-dark !important;
}

.mat-mdc-select-panel {
  background-color: $color-bg-dark !important;
}
