/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.mobile .top-toolbar {
    position: fixed;
    z-index: 2;
  }
}

/* Sidenav */
.sidenav-container {
  flex: 1;
  height: 100vh;
  background-color: #041629;

  mat-sidenav {
    width: 200px;
    border-right: 3px solid rgb(6, 212, 202);
    padding: 0 3px;
    background-color: black;
    background-image: linear-gradient(
      to right,
      rgba(0, 204, 255, 0.356) 0%,
      /*#242424 90%*/ #001d3da4 90%
    );
  }

  mat-nav-list a {
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }
  /*cambiar color hover menu*/
  mat-nav-list a:hover * {
    transition: 1.5ms;
    font-size: 15px;
    color: rgb(44, 253, 243);
  }

  .list:hover {
    background-color: #d6e4fc28;
  }

  .menu-item {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 8px;
    }
  }
}

/* Barra superior */
.content {
  padding: 0 5px;
}

.top-toolbar {
  margin-right: 15px;
  margin-left: 0;
  width: 99%;
  border-radius: 10px;
  background-color: #000000;
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 50.5%,
    rgba(44, 253, 243, 0.445) 0%,
    #001d3da4 70%
  );
}

/* Título y cuenta de usuario */
.toolbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .app-name {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    letter-spacing: 1px;

    .app-highlight {
      color: rgb(44, 253, 243);
    }
    .animated {
      display: inline-block;
      animation: jump 10s infinite;
      color: rgb(44, 253, 243);
    }
  }

  .user-account {
    display: flex;
    align-items: center;

    .account-icon {
      font-size: 38px;
      width: 38px;
      height: 38px;
      cursor: pointer;
      transition: color 0.2s ease,
        transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), filter 0.2s ease,
        box-shadow 0.2s ease;

      &:hover {
        color: #d6e4fc;
        transform: scale(1.05);
        filter: drop-shadow(0 4px 6px rgba(41, 121, 255, 0.6));
        box-shadow: 0 4px 15px rgba(41, 121, 255, 0.4);
      }
    }

    .user-name {
      font-size: 14px;
      margin-left: 8px;
    }

    .dropdown {
      position: absolute;
      top: 65px;
      right: 0;
      background: #333;
      border: 1px solid rgb(44, 253, 243);
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      animation: fadeIn 0.2s ease-in-out;
      z-index: 1000;
      margin-right: 15px;

      .dropdown-button {
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

/* Contenido principal del router */
.main-content {
  flex: 1;
  overflow: auto;
}

/* Logo en la barra lateral */
.sidenav-logo {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.945);
  border-top-right-radius: 15px;

  img {
    max-width: 100%; /* Ajusta según el tamaño del logo */
    height: auto;
  }
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for jumping animation */
@keyframes jump {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(360deg); /* Move up and rotate */
  }
}
