.animated-text {
  /* font-family: "Agdasima", sans-serif;*/
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  display: inline-block;
  letter-spacing: 1px;
}

// .animated-g {
//   display: inline-block;
//   animation: jump 15s infinite;
//   color: rgb(44, 253, 243);
// }
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  display: flex;
  margin: 16px 0 16px 8px;
  margin-left: 8px;
  font-size: 20px;
}

.example-sidenav-container {
  flex: 1;
  //   background-color: #041629;
  background-color: #f0f0f0;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 190px;
}

.icon {
  display: flex;
  align-items: left;
  font-weight: 450;
}

.icon span {
  margin-left: 8px;
}

/*cambiar color hover menu*/
a:hover * {
  transition: 1.5ms;
  //color: rgb(44, 253, 243);
  color: rgb(1, 134, 149);
}

/*cambiar color fondo menu*/
mat-sidenav {
  //   background-image: linear-gradient(
  //     to right,
  //     rgba(0, 204, 255, 0.356) 0%,
  //     /*#242424 90%*/ #001d3da4 90%
  //   );
  //   background-color: black;
  border-right: 3px solid rgb(6, 212, 202);
  padding: 0 3px 0 3px;
}

.example-toolbar {
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 50.5%,
    rgba(44, 253, 243, 0.445) 0%,
    #001d3da4 70%
  );
}

.title-navbar {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Clase para la opción activa del menú */
.active-link {
  background-color: rgba(3, 129, 122, 0.2);
  color: rgb(44, 253, 243);
  font-weight: bold;
  border-left: 4px solid rgb(44, 253, 243);
}

/* Efecto de transición al cambiar de opción */
a.mat-list-item {
  transition: all 0.3s ease;
}

/* Keyframes for jumping animation */
@keyframes jump {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(360deg); /* Move up and rotate */
  }
}
