.funcionario-form {
  background-color: #333;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.select-field {
  width: 100%;
  max-width: 250px;
  margin-top: 5px;
  flex: 1;
}

.modules-box {
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
}

.module-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info-box {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #555;
}

.text-wrap {
  text-align: center;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.3;
  padding-left: 5px;
  padding-right: 5px;
}

/* Opcional si mantienes mat-select personalizado */
.mat-select-trigger {
  padding: 8px;
  font-size: 14px;
}

.mat-option {
  padding: 8px;
  font-size: 14px;
}

.mat-mdc-dialog-content {
  background-color: #333 !important;
}

.mat-expansion-panel-body {
  background: white !important;
}
