.drop {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 5px;
  justify-content: space-between;
}

.drop div {
  padding-left: 5px;
}

.drop-filter {
  width: 100%;
}

.drop-add {
  display: flex;
  min-width: 160px;
  padding: 0;
  margin: 0;
}

.drop-add mat-toolbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 80%;
  font-size: 15px;
}
.drop-add mat-toolbar span {
  padding-top: 2%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  cursor: pointer;
}

.contenido-card {
  padding: 1rem;
  position: relative;
  transition: box-shadow 0.3s ease;
  border-radius: 16px;
  border: 1px solid rgb(44, 253, 243);

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  h4 {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
  }

  h6 {
    margin: 0;
    font-size: 0.95rem;
    text-align: left;
    font-weight: 500;
  }

  p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .acciones {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
      margin-left: 0.5rem;
    }
  }

  mat-icon-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    &:nth-child(2) {
      right: 2.5rem;
    }
  }
}

.inactivo {
  opacity: 0.5;
  filter: grayscale(60%);
}

.inactivo *:not(button):not(mat-icon-button):not(mat-icon) {
  pointer-events: none;
}
